[submodule ".vscode"]
	path = .vscode
	url = https://github.com/kirin123kirin/.vscode.git
[submodule "initpylib/templates_capi/cmake"]
	path = initpylib/templates_capi/cmake
	url = https://github.com/kirin123kirin/cmake.git
